[Desktop Entry]
Type=Application
Version=0.9.4
Name=Uninstall NAO meshes
Comment=Uninstall
Icon=
Exec=/home/bee/irakaskuntza/robotica-social/ros/src/nao_meshes/uninstall
Terminal=false
Path=/home/bee/irakaskuntza/robotica-social/ros/src/nao_meshes